@import 'responsive';
@import 'reset';

body {
  background-color: #d9d9d9;
  font-family: sans-serif;
}

.container {
  margin: 10px;
}

.content {
  background-color: #FFF;
  border-radius: 3px;
  margin: auto;
  @media only screen and (min-width: 768px) {
    width: 70%;
  }
}

section {
  padding: 10px 20px;
}

nav {
  width: 14%;
  margin: 10px;
  display: none;
  @media only screen and (min-width: 890px) {display: block;}
  position: fixed;
  top: 0; left: 0;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.9);
  ul {
    list-style-type: none;
    padding: 0;
    li a {
      display: block;
      padding: 10px 20px;
      text-transform: uppercase;
      &:hover {background-color: #d3d3d3;}
    }
  }
}

a:link, a:visited {color: #666; text-decoration: none;}
a:hover, a:focus, a:active {color: #000;}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

h4 {text-align: center;}

p {padding: 3px 0;}

ul {
  padding: 3px 0 2px 17px;
  li {padding: 3px 0;}
}

#contact {
  h1 {text-align: center; margin-bottom: 3px;}
  max-width: 300px;
  margin: auto;
  text-align: left;
}

.bold {font-weight: bold;}
.active {background-color: #d3d3d3;}
