@import 'responsive';
@import 'reset';

body {
  background-color: #d9d9d9;
  font-family: sans-serif;
}

.container {
  margin: 10px;
}

.content {
  background-color: #FFF;
  margin: auto;
  @media only screen and (min-width: 768px) {
    width: 70%;
  }
}

.section {
  padding: 10px 20px;
}

a:link, a:visited {color: #666; text-decoration: none;}
a:hover, a:focus, a:active {color: #000;}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

h5 {text-align: center;}

p {padding: 3px 0;}

ul {
  padding: 3px 0 2px 17px;
  li {padding: 3px 0;}
}

#contact {
  h1 {text-align: center; margin-bottom: 3px;}
  max-width: 300px;
  margin: auto;
  text-align: left;
}

.bold {font-weight: bold;}
