@import 'responsive';
@import 'reset';

body {
  background-color: grey;
}

.container {
  background-color: #FFF;
  margin: 10px;
}

.content {
  width: 60%;
  margin: auto;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #000;
}
